In [1]:
import pandas as pd
import seaborn as sns
import matplotlib.pyplot as plt
%matplotlib inline

In [5]:
def get_df_numerical(df):
    numerics = ['int16', 'int32', 'int64', 'float16', 'float32', 'float64']
    return df.select_dtypes(include=numerics)

# Load the data

In [14]:
data = pd.read_pickle("../data/final_sets/model/2016")

In [15]:
data.head()

,gender,entered,efficiency,eig_central,id,in_degree,k_core,out_degree,views,age,is_alive,distance_birth,distance_death,distance_delta,nationality_num,party_num,occupation_num,year_interval
0,male,2007,0.760000,0.000046,144,2,4,3,916.0,0,no,-1,27,-28,1,0,1,2
1,male,2005,0.899654,0.000801,183,9,10,8,4100.0,70,yes,70,-1,71,1,1,1,1
2,male,2013,0.734694,0.000040,246,2,7,5,1651.0,62,no,78,16,62,1,1,1,3
3,male,2007,1.000000,0.000007,248,2,5,4,6671.0,88,yes,88,-1,89,0,0,1,2
4,male,2007,0.814815,0.000068,259,4,4,5,7825.0,84,no,109,25,84,1,1,1,2

In [17]:
data = pd.read_pickle("../data/final_sets/model/2014")

In [18]:
data.head()

,gender,entered,efficiency,eig_central,id,in_degree,k_core,out_degree,name_q,views,age,is_alive,distance_birth,distance_death,distance_delta,nationality_num,party_num,occupation_num,year_interval
0,male,2007,0.760000,0.000046,144,2,4,3,Nizamettin_Erkmen,594,0,no,-1,27,-28,1,0,1,2
1,male,2005,0.899654,0.000801,183,9,10,8,Claudio_Scajola,5151,70,yes,70,-1,71,1,1,1,1
2,male,2013,0.734694,0.000040,246,2,7,5,Thomas_Clausen_%28Louisiana%29,43,62,no,78,16,62,1,1,1,3
3,male,2007,1.000000,0.000007,248,2,5,4,Yang_Ti-liang,5459,88,yes,88,-1,89,0,0,1,2
4,male,2007,0.814815,0.000068,259,4,4,5,Mohammad_Natsir,5892,84,no,109,25,84,1,1,1,2

# Filter for columns with numerical values

In [6]:
data = get_df_numerical(data)

In [7]:
data.head()

,ID,entered,efficiency,eig_central,id,in_degree,k_core,out_degree,views
0,144,2007,0.760000,0.000046,144,2,4,3,916.0
1,183,2005,0.899654,0.000801,183,9,10,8,4100.0
2,246,2013,0.734694,0.000040,246,2,7,5,1651.0
3,248,2007,1.000000,0.000007,248,2,5,4,6671.0
4,259,2007,0.814815,0.000068,259,4,4,5,7825.0