In [1]:
import statsmodels.api as sm
import pandas as pd 
import numpy as np

# Load Data

In [2]:
data = pd.read_pickle("../data/final_sets/model/2016")

In [3]:
data = data.dropna()

In [4]:
data.head()

,gender,entered,efficiency,eig_central,in_degree,k_core,out_degree,views,age,is_alive,distance_birth,distance_death,distance_delta,nationality_num,party_num,occupation_num,year_interval
0,male,2007,0.760000,0.000046,2,4,3,916.0,0,no,-1,27,-28,1,0,1,2
1,male,2005,0.899654,0.000801,9,10,8,4100.0,70,yes,70,-1,71,1,1,1,1
2,male,2013,0.734694,0.000040,2,7,5,1651.0,62,no,78,16,62,1,1,1,3
3,male,2007,1.000000,0.000007,2,5,4,6671.0,88,yes,88,-1,89,0,0,1,2
4,male,2007,0.814815,0.000068,4,4,5,7825.0,84,no,109,25,84,1,1,1,2

In [5]:
data = pd.get_dummies(data, columns=['gender', "is_alive"])
data.head()

,entered,efficiency,eig_central,in_degree,k_core,out_degree,views,age,distance_birth,distance_death,distance_delta,nationality_num,party_num,occupation_num,year_interval,gender_female,gender_male,is_alive_no,is_alive_unknown,is_alive_yes
0,2007,0.760000,0.000046,2,4,3,916.0,0,-1,27,-28,1,0,1,2,0,1,1,0,0
1,2005,0.899654,0.000801,9,10,8,4100.0,70,70,-1,71,1,1,1,1,0,1,0,0,1
2,2013,0.734694,0.000040,2,7,5,1651.0,62,78,16,62,1,1,1,3,0,1,1,0,0
3,2007,1.000000,0.000007,2,5,4,6671.0,88,88,-1,89,0,0,1,2,0,1,0,0,1
4,2007,0.814815,0.000068,4,4,5,7825.0,84,109,25,84,1,1,1,2,0,1,1,0,0

In [8]:
X = np.matrix(data.drop("views", axis=1).values, dtype="float")
# y = np.matrix(data["views"].values, dtype="float")
y = data["views"].values

In [9]:
results = sm.OLS(y,X).fit()

In [10]:
results

In [11]:
print(results.summary())

                            OLS Regression Results
==============================================================================
Dep. Variable:                      y   R-squared:                       0.223
Model:                            OLS   Adj. R-squared:                  0.223
Method:                 Least Squares   F-statistic:                     753.8
Date:                Thu, 17 May 2018   Prob (F-statistic):               0.00
Time:                        17:47:43   Log-Likelihood:            -6.0113e+05
No. Observations:               41934   AIC:                         1.202e+06
Df Residuals:                   41917   BIC:                         1.202e+06
Df Model:                          16
Covariance Type:            nonrobust
==============================================================================
                 coef    std err          t      P>|t|      [95.0% Conf. Int.]
------------------------------------------------------------------------------
x1           483.9497   1411.456      0.343      0.732     -2282.533  3250.433
x2         -6922.8711    1.3e+04     -0.531      0.595     -3.25e+04  1.86e+04
x3          3.368e+07   6.85e+05     49.201      0.000      3.23e+07   3.5e+07
x4          7310.8148    350.285     20.871      0.000      6624.249  7997.380
x5         -3971.9967   1362.924     -2.914      0.004     -6643.357 -1300.637
x6         -4385.9455   1124.258     -3.901      0.000     -6589.515 -2182.377
x7          -324.3364    131.711     -2.462      0.014      -582.493   -66.180
x8            32.4034     32.463      0.998      0.318       -31.224    96.031
x9            61.1356     27.561      2.218      0.027         7.116   115.155
x10          -28.7321     35.261     -0.815      0.415       -97.845    40.381
x11        -1724.3027   3575.988     -0.482      0.630     -8733.313  5284.708
x12         6959.6715   2963.292      2.349      0.019      1151.559  1.28e+04
x13          1.31e+04   2112.241      6.200      0.000      8956.887  1.72e+04
x14        -6359.0238   7024.889     -0.905      0.365     -2.01e+04  7409.903
x15        -5.587e+05   1.69e+06     -0.330      0.741     -3.88e+06  2.76e+06
x16          -5.7e+05   1.69e+06     -0.337      0.736     -3.89e+06  2.75e+06
x17         -3.83e+05   1.13e+06     -0.339      0.734      -2.6e+06  1.83e+06
x18        -3.852e+05   1.13e+06     -0.341      0.733      -2.6e+06  1.83e+06
x19        -3.606e+05   1.13e+06     -0.319      0.749     -2.57e+06  1.85e+06
==============================================================================
Omnibus:                   186816.192   Durbin-Watson:                   1.999
Prob(Omnibus):                  0.000   Jarque-Bera (JB):    1166216785449.272
Skew:                         145.093   Prob(JB):                         0.00
Kurtosis:                   25836.588   Cond. No.                     8.94e+18
==============================================================================

Warnings:
[1] Standard Errors assume that the covariance matrix of the errors is correctly specified.
[2] The smallest eigenvalue is 2.13e-27. This might indicate that there are
strong multicollinearity problems or that the design matrix is singular.