In [2]:
import statsmodels.api as sm
import pandas as pd 
import numpy as np

# Load Data

In [3]:
data = pd.read_pickle("../data/final_sets/model/2016")

In [4]:
data = data.dropna()

In [5]:
data.head()

,gender,entered,efficiency,eig_central,in_degree,k_core,out_degree,views,age,is_alive,distance_birth,distance_death,distance_delta,nationality_num,party_num,occupation_num,year_interval
0,male,2007,0.760000,0.000046,2,4,3,916.0,0,no,-1,27,-28,1,0,1,2
1,male,2005,0.899654,0.000801,9,10,8,4100.0,70,yes,70,-1,71,1,1,1,1
2,male,2013,0.734694,0.000040,2,7,5,1651.0,62,no,78,16,62,1,1,1,3
3,male,2007,1.000000,0.000007,2,5,4,6671.0,88,yes,88,-1,89,0,0,1,2
4,male,2007,0.814815,0.000068,4,4,5,7825.0,84,no,109,25,84,1,1,1,2

In [6]:
data = pd.get_dummies(data, columns=['gender', "is_alive"])
data.head()

,entered,efficiency,eig_central,in_degree,k_core,out_degree,views,age,distance_birth,distance_death,distance_delta,nationality_num,party_num,occupation_num,year_interval,gender_female,gender_male,is_alive_no,is_alive_unknown,is_alive_yes
0,2007,0.760000,0.000046,2,4,3,916.0,0,-1,27,-28,1,0,1,2,0,1,1,0,0
1,2005,0.899654,0.000801,9,10,8,4100.0,70,70,-1,71,1,1,1,1,0,1,0,0,1
2,2013,0.734694,0.000040,2,7,5,1651.0,62,78,16,62,1,1,1,3,0,1,1,0,0
3,2007,1.000000,0.000007,2,5,4,6671.0,88,88,-1,89,0,0,1,2,0,1,0,0,1
4,2007,0.814815,0.000068,4,4,5,7825.0,84,109,25,84,1,1,1,2,0,1,1,0,0

In [7]:
X = np.matrix(data.drop("views", axis=1).values, dtype="float")
# y = np.matrix(data["views"].values, dtype="float")
y = data["views"].values

In [8]:
results = sm.OLS(y,X).fit()

In [9]:
results

In [12]:
print(results.summary())

                            OLS Regression Results
==============================================================================
Dep. Variable:                      y   R-squared:                       0.223
Model:                            OLS   Adj. R-squared:                  0.223
Method:                 Least Squares   F-statistic:                     753.8
Date:                Fri, 18 May 2018   Prob (F-statistic):               0.00
Time:                        17:51:55   Log-Likelihood:            -6.0113e+05
No. Observations:               41934   AIC:                         1.202e+06
Df Residuals:                   41917   BIC:                         1.202e+06
Df Model:                          16
Covariance Type:            nonrobust
==============================================================================
                 coef    std err          t      P>|t|      [95.0% Conf. Int.]
------------------------------------------------------------------------------
x1           483.9497   1411.456      0.343      0.732     -2282.533  3250.433
x2         -6922.8711    1.3e+04     -0.531      0.595     -3.25e+04  1.86e+04
x3          3.368e+07   6.85e+05     49.201      0.000      3.23e+07   3.5e+07
x4          7310.8148    350.285     20.871      0.000      6624.249  7997.380
x5         -3971.9967   1362.924     -2.914      0.004     -6643.357 -1300.637
x6         -4385.9455   1124.258     -3.901      0.000     -6589.515 -2182.377
x7          -324.3364    131.711     -2.462      0.014      -582.493   -66.180
x8            32.4034     32.463      0.998      0.318       -31.224    96.031
x9            61.1356     27.561      2.218      0.027         7.116   115.155
x10          -28.7321     35.261     -0.815      0.415       -97.845    40.381
x11        -1724.3027   3575.988     -0.482      0.630     -8733.313  5284.708
x12         6959.6715   2963.292      2.349      0.019      1151.559  1.28e+04
x13          1.31e+04   2112.241      6.200      0.000      8956.887  1.72e+04
x14        -6359.0238   7024.889     -0.905      0.365     -2.01e+04  7409.903
x15        -5.587e+05   1.69e+06     -0.330      0.741     -3.88e+06  2.76e+06
x16          -5.7e+05   1.69e+06     -0.337      0.736     -3.89e+06  2.75e+06
x17         -3.83e+05   1.13e+06     -0.339      0.734      -2.6e+06  1.83e+06
x18        -3.852e+05   1.13e+06     -0.341      0.733      -2.6e+06  1.83e+06
x19        -3.606e+05   1.13e+06     -0.319      0.749     -2.57e+06  1.85e+06
==============================================================================
Omnibus:                   186816.192   Durbin-Watson:                   1.999
Prob(Omnibus):                  0.000   Jarque-Bera (JB):    1166216785449.272
Skew:                         145.093   Prob(JB):                         0.00
Kurtosis:                   25836.588   Cond. No.                     8.94e+18
==============================================================================

Warnings:
[1] Standard Errors assume that the covariance matrix of the errors is correctly specified.
[2] The smallest eigenvalue is 2.13e-27. This might indicate that there are
strong multicollinearity problems or that the design matrix is singular.

In [29]:
results = sm.OLS(data["views"], data.drop(["views", "year_interval","efficiency","in_degree","k_core","out_degree"], axis=1)).fit()

In [30]:
data.dtypes

entered                int64
efficiency           float64
eig_central          float64
in_degree              int64
k_core                 int64
out_degree             int64
views                float64
age                    int64
distance_birth         int64
distance_death         int64
distance_delta         int64
nationality_num        int64
party_num              int64
occupation_num         int64
year_interval       category
gender_female          uint8
gender_male            uint8
is_alive_no            uint8
is_alive_unknown       uint8
is_alive_yes           uint8
dtype: object

In [31]:
results.summary()

<class 'statsmodels.iolib.summary.Summary'>
"""
                            OLS Regression Results
==============================================================================
Dep. Variable:                  views   R-squared:                       0.215
Model:                            OLS   Adj. R-squared:                  0.215
Method:                 Least Squares   F-statistic:                     1044.
Date:                Fri, 18 May 2018   Prob (F-statistic):               0.00
Time:                        18:00:13   Log-Likelihood:            -6.0135e+05
No. Observations:               41934   AIC:                         1.203e+06
Df Residuals:                   41922   BIC:                         1.203e+06
Df Model:                          11
Covariance Type:            nonrobust
====================================================================================
                       coef    std err          t      P>|t|      [95.0% Conf. Int.]
------------------------------------------------------------------------------------
entered           -457.8647    600.536     -0.762      0.446     -1634.928   719.198
eig_central       4.394e+07    4.2e+05    104.636      0.000      4.31e+07  4.48e+07
age               -379.2397    132.182     -2.869      0.004      -638.319  -120.160
distance_birth      61.0989     32.602      1.874      0.061        -2.802   125.000
distance_death      87.2778     27.656      3.156      0.002        33.071   141.485
distance_delta     -26.1790     35.429     -0.739      0.460       -95.620    43.262
nationality_num  -3344.2506   3582.955     -0.933      0.351     -1.04e+04  3678.416
party_num         6177.6101   2888.531      2.139      0.032       516.030  1.18e+04
occupation_num    1.238e+04   2120.774      5.836      0.000      8219.179  1.65e+04
gender_female     5.575e+05   7.25e+05      0.769      0.442     -8.63e+05  1.98e+06
gender_male        5.48e+05   7.25e+05      0.756      0.449     -8.72e+05  1.97e+06
is_alive_no       3.595e+05   4.83e+05      0.744      0.457     -5.87e+05  1.31e+06
is_alive_unknown  3.601e+05   4.83e+05      0.746      0.456     -5.86e+05  1.31e+06
is_alive_yes       3.86e+05   4.84e+05      0.798      0.425     -5.62e+05  1.33e+06
==============================================================================
Omnibus:                   184929.851   Durbin-Watson:                   1.999
Prob(Omnibus):                  0.000   Jarque-Bera (JB):    1059739339347.922
Skew:                         140.251   Prob(JB):                         0.00
Kurtosis:                   24628.998   Cond. No.                     1.61e+18
==============================================================================

Warnings:
[1] Standard Errors assume that the covariance matrix of the errors is correctly specified.
[2] The smallest eigenvalue is 6.56e-26. This might indicate that there are
strong multicollinearity problems or that the design matrix is singular.
"""