In [1]:
import pandas as pd

In [2]:
data = pd.read_json("data/politicians_with_gender.json")

In [3]:
data.head()

,#DBpURL,ID,WikiURL,birthDate,deathDate,first_name,fpp_gender,full_name,gender,genderize,name,nationality,occupation,party
0,http://dbpedia.org/resource/Quincy_Timberlake,11,http://en.wikipedia.org/wiki/Quincy_Timberlake,3.252096e+11,NaN,quincy,None,Quincy+Timberlake,male,None,"[ quincy timberlake , timberlake quincy ]",[kenyan],[politician],[]
1,http://dbpedia.org/resource/Fanny_Edelman,29,http://en.wikipedia.org/wiki/Fanny_Edelman,-1.856995e+12,1.320106e+12,fanny,None,Fanny+Edelman,female,None,"[ fanny edelman , edelman fanny ]",[argentine],[politician],[]
10,http://dbpedia.org/resource/Georges_Colombier,252,http://en.wikipedia.org/wiki/Georges_Colombier,-9.409824e+11,NaN,georges,None,Georges+Colombier,male,None,[ colombier georges ],[french],[politician],[ union for a popular movement ]
100,http://dbpedia.org/resource/Mira_Spivak,1858,http://en.wikipedia.org/wiki/Mira_Spivak,-1.119485e+12,NaN,mira,None,Mira+Spivak,female,None,[ mira spivak ],"[canadian, ukrainian]",[politician],[ progressive conservative party of canada ]
1000,http://dbpedia.org/resource/Auguste_Beernaert,16847,http://en.wikipedia.org/wiki/Auguste_Beernaert,-4.431715e+12,-1.806278e+12,auguste,None,Auguste+Beernaert,male,male,[ auguste beernaert ],[belgian],[politician],[ catholic party (belgium) ]

In [6]:
nation_list = data.nationality.values

In [7]:
lst_nations = [x for sublist in nation_list for x in sublist]

In [10]:
nations = pd.DataFrame(lst_nations)
nations.columns = ["name"]
nations.head()

        name
0     kenyan
1  argentine
2     french
3   canadian
4  ukrainian

In [15]:
print("Number of nations:", len(nations.name.unique()))

Number of nations: 367

In [29]:
x = pd.DataFrame(nations.name.value_counts())
x['nationality'] = x.index
x.reset_index(level=0, inplace=True)
x = x.drop("index", axis=1)
x.head()

   name nationality
0  6080    american
1  3259      indian
2  2442     mexican
3  2419      french
4  1927   norwegian

In [30]:
x.to_csv("data/nationalities.csv")