In [1]:
import numpy as np 
import pandas as pd

In [2]:
data = pd.read_table("pagecounts-20151231-230000", sep=" ")

# Pageviews data

* first column: **project name**, example: en - english wikipedia
* second column: **page**, example: Barak_Obama
* third column: **number of views**, exampe: 361
* fourth column: **size of content returned**, exampe: 3614429

[source](https://dumps.wikimedia.org/other/pagecounts-raw/)

# Wikipedia for one hour

In [3]:
data.columns = ["project_name", "page", "requests", "size"]
len(data)

5439754

# English Wikipedia for one hour

In [4]:
data = data[data['project_name']=="en"]
len(data)

2035453

In [5]:
data.head()

       project_name                     page  requests     size
765604           en                      NaN       361  3614429
765605           en                      !!!         6   103373
765606           en  !!!!Los_De_La_Rumba!!!!         1     6686
765607           en              !!!_(album)         1        0
765608           en       !!Destroy-Oh-Boy!!         1    11269

In [6]:
data = data.drop(["project_name","size"], axis=1)
data.head()

                           page  requests
765604                      NaN       361
765605                      !!!         6
765606  !!!!Los_De_La_Rumba!!!!         1
765607              !!!_(album)         1
765608       !!Destroy-Oh-Boy!!         1