In [19]:
import numpy as np 
import pandas as pd

This is data on page views at 23h on 31.12.2015

In [20]:
data = pd.read_table("../pageviews/files/pagecounts-20160803-190000", sep=" ")

# Pageviews data

* first column: **project name**, example: en - english wikipedia
* second column: **page**, example: Barak_Obama
* third column: **number of views**, exampe: 361
* fourth column: **size of content returned**, exampe: 3614429

[source](https://dumps.wikimedia.org/other/pagecounts-raw/)

# Wikipedia for one hour

In [21]:
data.columns = ["project_name", "page", "requests", "size"]
len(data)

7101374

# English Wikipedia for one hour

In [22]:
data = data[data['project_name']=="en"]
len(data)

2504604

In [23]:
data.head()

       project_name                 page  requests      size
924826           en                  NaN      2756  22958354
924827           en                    !         2     75662
924828           en                  !!!         5    137261
924829           en   !!Destroy-Oh-Boy!!         1     11264
924830           en  !!_(disambiguation)         1      8777

# Removing size and project

In [24]:
data = data.drop(["project_name","size"], axis=1)
data.head()

                       page  requests
924826                  NaN      2756
924827                    !         2
924828                  !!!         5
924829   !!Destroy-Oh-Boy!!         1
924830  !!_(disambiguation)         1

# Geting number of views for politicians

In [25]:
def get_page(wikiURL):
    url_split = wikiURL.split("/")
    return url_split[-1]

In [26]:
politicians = pd.read_pickle("../data/politician_data_inside")

In [27]:
politicians["page"] = politicians["WikiURL"].apply(get_page)

In [28]:
politicians.head()

,#DBpURL,ID,WikiURL,birthDate,deathDate,first_name,fpp_gender,full_name,gender,genderize,name,nationality,occupation,party,page
0,http://dbpedia.org/resource/Quincy_Timberlake,11,http://en.wikipedia.org/wiki/Quincy_Timberlake,1980-04-22 00:00:00,None,quincy,NaN,Quincy+Timberlake,male,NaN,"[ quincy timberlake , timberlake quincy ]",[kenyan],[politician],[],Quincy_Timberlake
5,http://dbpedia.org/resource/Nizamettin_Erkmen,144,http://en.wikipedia.org/wiki/Nizamettin_Erkmen,None,1990-10-24 00:00:00,nizamettin,NaN,Nizamettin+Erkmen,male,NaN,[ erkmen nizamettin ],[turkish],[politician],[],Nizamettin_Erkmen
6,http://dbpedia.org/resource/Claudio_Scajola,183,http://en.wikipedia.org/wiki/Claudio_Scajola,1948-01-15 00:00:00,None,claudio,NaN,Claudio+Scajola,male,NaN,[ claudio scajola ],[italian],[politician],[ forza italia (2013) ],Claudio_Scajola
8,http://dbpedia.org/resource/Thomas_Clausen_(Lo...,246,http://en.wikipedia.org/wiki/Thomas_Clausen_(L...,1939-12-22 00:00:00,2002-02-20 00:00:00,thomas,NaN,Thomas+Clausen+(Louisiana),male,NaN,"[ thomas greenwood clausen , clausen thomas g...",[american],[politician],[ democratic party (united states) ],Thomas_Clausen_(Louisiana)
9,http://dbpedia.org/resource/Yang_Ti-liang,248,http://en.wikipedia.org/wiki/Yang_Ti-liang,1929-06-30 00:00:00,None,yang,NaN,Yang+Ti-liang,male,NaN,[ ti-liang yang ],[],[politician],[],Yang_Ti-liang

# Number of politicians

In [29]:
page_list = politicians.page.values
len(page_list)

46479

In [30]:
data = data[data["page"].isin(page_list)]

# Number of politician pages found

In [31]:
# This should be around 40k

In [32]:
len(data)

12256

In [33]:
data.head()

                                 page  requests
983643                     A.K._Balan         2
983837               A._Amirthalingam         1
983840  A._B._A._Ghani_Khan_Choudhury         1
983845                   A._B._George         1
983872                  A._C._Clemons         1