In [1]:
import numpy as np 
import pandas as pd

This is data on page views at 23h on 31.12.2015

In [2]:
data = pd.read_table("pagecounts-20151231-230000", sep=" ")

# Pageviews data

* first column: **project name**, example: en - english wikipedia
* second column: **page**, example: Barak_Obama
* third column: **number of views**, exampe: 361
* fourth column: **size of content returned**, exampe: 3614429

[source](https://dumps.wikimedia.org/other/pagecounts-raw/)

# Wikipedia for one hour

In [3]:
data.columns = ["project_name", "page", "requests", "size"]
len(data)

5439754

# English Wikipedia for one hour

In [4]:
data = data[data['project_name']=="en"]
len(data)

2035453

In [5]:
data.head()

       project_name                     page  requests     size
765604           en                      NaN       361  3614429
765605           en                      !!!         6   103373
765606           en  !!!!Los_De_La_Rumba!!!!         1     6686
765607           en              !!!_(album)         1        0
765608           en       !!Destroy-Oh-Boy!!         1    11269

# Removing size and project

In [6]:
data = data.drop(["project_name","size"], axis=1)
data.head()

                           page  requests
765604                      NaN       361
765605                      !!!         6
765606  !!!!Los_De_La_Rumba!!!!         1
765607              !!!_(album)         1
765608       !!Destroy-Oh-Boy!!         1

# Geting number of views for politicians

In [26]:
def get_page(wikiURL):
    url_split = wikiURL.split("/")
    return url_split[-1]

In [27]:
politicians = pd.read_pickle("../data/politicians_with_gender")

In [28]:
politicians["page"] = politicians["WikiURL"].apply(get_page)

In [29]:
politicians.head()

,#DBpURL,ID,WikiURL,birthDate,deathDate,first_name,fpp_gender,full_name,gender,genderize,name,nationality,occupation,party,page
0,http://dbpedia.org/resource/Quincy_Timberlake,11,http://en.wikipedia.org/wiki/Quincy_Timberlake,1980-04-22 00:00:00,None,quincy,NaN,Quincy+Timberlake,male,NaN,"[ quincy timberlake , timberlake quincy ]",[kenyan],[politician],[],Quincy_Timberlake
1,http://dbpedia.org/resource/Fanny_Edelman,29,http://en.wikipedia.org/wiki/Fanny_Edelman,1911-02-27 00:00:00,2011-11-01 00:00:00,fanny,NaN,Fanny+Edelman,female,NaN,"[ fanny edelman , edelman fanny ]",[argentine],[politician],[],Fanny_Edelman
3,http://dbpedia.org/resource/Paul_Scheffer,102,http://en.wikipedia.org/wiki/Paul_Scheffer,1954-09-03 00:00:00,None,paul,NaN,Paul+Scheffer,male,NaN,[ scheffer paul ],[],[politician],[],Paul_Scheffer
4,http://dbpedia.org/resource/Ed_Robb,127,http://en.wikipedia.org/wiki/Ed_Robb,None,None,ed,NaN,Ed+Robb,male,NaN,[],[american],[politician],[],Ed_Robb
5,http://dbpedia.org/resource/Nizamettin_Erkmen,144,http://en.wikipedia.org/wiki/Nizamettin_Erkmen,None,1990-10-24 00:00:00,nizamettin,NaN,Nizamettin+Erkmen,male,NaN,[ erkmen nizamettin ],[turkish],[politician],[],Nizamettin_Erkmen

# Number of politicians

In [33]:
page_list = politicians.page.values
len(page_list)

69179

In [34]:
data = data[data["page"].isin(page_list)]

# Number of politician pages found

In [37]:
# This should be around 40k

In [36]:
len(data)

11678

In [38]:
data.head()

                     page  requests
849029      A.N._Shamseer         1
849134  A._Anwhar_Raajhaa         1
849147       A._B._Shetty         1
849182  A._DeWade_Langley         5
849209        A._G._Crowe         1